@using ProjeMVC.Models.Entity
@model List<TblUrunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th class="bg-info">Ürün ID</th>
        <th class="bg-info">Ürün Adı</th>
        <th class="bg-info">Marka</th>
        <th class="bg-info">Fiyat</th>
        <th class="bg-info">Stok</th>
        <th class="bg-info">Sil</th>
        <th class="bg-info">Güncelle</th>
    </tr>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
                <td>@urun.UrunId</td>
                <td>@urun.UrunAd</td>
                <td>@urun.TblKategoriler.KategoriAd</td>
                <td>@urun.Fiyat</td>
                <td>@urun.Stok</td>
                <td><a href="/Urun/Sil/@urun.UrunId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Urun/Güncelle/@urun.UrunAd" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Urun/YeniUrun/" class="btn btn-primary">Yeni Urun Ekle</a>

